@{
    ViewBag.Title = "Occupation";
}

@section Headers {
    <link href="~/Content/bsComp/bootstrap-select.min.css" rel="stylesheet" />
    <link href="~/Content/bsComp/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <link href="~/Content/bsComp/bootstrapGrid.min.css" rel="stylesheet" />
}
@Html.AntiForgeryToken()
<h2>@ViewBag.Title</h2>

<div id="@ViewBag.Title"></div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
    <script src="~/Scripts/moment.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrap-select.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrap-modalloading.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrap-datetimepicker.min.js"></script>
    <script src="~/Scripts/bsComp/bootstrapGrid.min.js"></script>
    <script>
        $(document).ready(function () {
            $('#@ViewBag.Title').grid({
                pageSizeOption: [5, 10, 15, 25, 50],
                fields: [
                    { title: 'ID', name: 'OccupationId', datatype: 'int', key: true, display: false },
                    { title: 'Occupation', name: 'OccupationName', datatype: 'string' }
                ],
                //serverAction: true, //newly added, if paging and search, it would take query to server
                transport: {
                    //type: 'API',
                    create: { url: "/Occupation/Post", method: "POST" },
                    read: { url: "/Occupation/Get", method: "POST" },
                    update: { url: "/Occupation/Put", method: "POST" },
                    delete: { url: "/Occupation/Delete", method: "POST" }
                }
            });
        })
    </script>
}
